<div class="footer fixed">
    <div class="pull-right">
        Vendor Onboarding Application
    </div>
    <div>
        <strong>Copyright</strong> Ryan Companies &copy; 2016-2017
    </div>
</div>
