
@{
    ViewBag.Title = "NoAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoAccess</h2>


<b>  Sorry you dont have access to application. Please contact Mitch Meilstrup for access. </b>

