
@{
    ViewBag.Title = "Error Page";
}

<h2>Error Page</h2>

<div style="margin-top:40px; background-color:#ffffff;">


    <b> Error Occured....  </b>
    <br />
    <br />

    If you have questions or concerns, please contact the Ryan’s Vendor Management team at  <a href="mailto:vendor.mgmt@ryancompanies.com">VendorManagementSupport</a>.

</div>




