<div class="footer fixed">
    <div class="pull-right">
       Ryan Companies US Inc.
    </div>
    <div>
        <strong>Copyright</strong> Ryan Companies US, Inc. &copy; 2019-2021
    </div>
</div>

