
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div> 

        Your details have been submitted. Please check with support team if you have any questions. Thanks
    </div>
</body>
</html>
