
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VErrorPage</title>
</head>
<body>
    <div style="margin-top:40px; background-color:#ffffff;">


        <b> Error Occured while submitting your form. Please try to submit form again.  </b>
        <br />
        <br />

        If you still have questions or concerns, please contact the Ryan’s Vendor Management team at  <a href="mailto:vendor.mgmt@ryancompanies.com">VendorManagementSupport</a>.

    </div>
</body>
</html>
